<div class='mt-5'>
  <p>
  レース日程
  <%= @result.collect_date %>
  </p>
  <p>
  レース場名
  <%= @field.name %>
  </p>
  <p>
  レース番号
  <%= @result.race_number %>
  </p>
  <table class='table'>
    <thead>
      <tr>
        <th scope='col'>舟番号</th>
        <th scope='col'>勝率</th>
      </tr>
    </thead>
    <tbody>
      <% @results.each do |key, value|%>
        <tr>
          <td><%= key %></td>
          <td><%= value %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'TOPに戻る', root_path, class: 'btn btn-primary' %>
</div>
